# Core
pymgrid @ git+https://github.com/RafaelGoncalvesUA/pymgrid
pandas<2.0.0
numpy<2.0.0
protobuf
cvxopt
tqdm
shimmy

# Agent
stable-baselines3==1.0.0
gym @ git+https://github.com/Pythoniasm/gym-fork.git@fix-v0.21.0 # gym==0.21.0
neuralprophet

torch
--extra-index-url https://download.pytorch.org/whl/cu118

# Visualisation
plotly
kaleido
tabulate
PyQt5

# Optimisation
ray[tune]

# OMIE datasets
OMIEData